<%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <%- include('../../partials/header', {leadName: '404'}) %>
    </header>
    <h1 class="page-error">404 Error<br>Page Not Found</h1>
<%- include('../../partials/end') %>