<%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/header', {leadName: '500'}) %>
    </header>
    <h1 class="page-error">500 Error<br>Internal Server Error</h1>
<%- include('../../partials/end') %>