@charset "UTF-8";

:root {
    --footer-nav-ul-height: 5em;
}

footer {
    padding: 2em 2% 1em;
}
footer nav {
    margin: 0% 10%;
    /* font-size: .4em; */
}
footer nav ul {
    margin: 1.5em 0em;
    flex-direction: column;
    flex-wrap: wrap;
    height: var(--footer-nav-ul-height);
}
footer nav ul li {
    height: calc(var(--footer-nav-ul-height) / 2)
}
