<span class="custom-checkbox-wrapper">
    <input type="checkbox" name="<%= checkboxName %>" value="<%= checkboxValue %>" class="native-checkbox" id="<%= checkboxId %>">
    <span class="custom-checkmark"></span>
</span>
<script src="/scripts/components/checkbox.js"></script>