@charset "utf-8";

/* GENERAL STYLES */
/* variables */
footer {
    --footer-nav-ul-height: 5em;
}

/* footer styles */
footer {
    padding: 2em 2% 1em;
}
footer nav {
    margin: 0% 10%;
    /* font-size: .4em; */
}
footer nav ul {
    margin: 1.5em 0em;
    flex-direction: column;
    flex-wrap: wrap;
    height: var(--footer-nav-ul-height);
}
footer nav ul li {
    height: calc(var(--footer-nav-ul-height) / 2)
}

/* misc styles */
a:hover, a:active {
    text-decoration: underline;
}

/* SIGN IN PAGE STYLES */
/* background styles */
#signin-container {
    color: #776f6f;
    background-color: #000;
    background-image: url('/images/home-movie-wall-alpha.png');
    background-size: cover;
}

/* main styles */
#signin-main-container {
    padding: 0% 2%;
}
#signin-main-wrapper {
    margin: 0em auto 6em;
    max-width: 28em;
    padding: 3.5em;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 3px;
}
#signin-main-wrapper h2 {
    font-size: 2em;
    color: #fff;
}
#form-signin ul {
    margin: 1.5em 0em 2.5em;
}
#form-signin-ul-wrapper input {
    height: 3em;
    margin-bottom: 1em;
    border-radius: 4px;
    padding: 0em 1em;
}
#form-signin ul li input {
    background-color: #454546;
}
#form-signin ul li input::placeholder {
    color: #919191;
}
#form-signin input[type="submit"] {
    color: #fff;
    font-weight: bold;
}
#form-signin-remember-wrapper {
    font-size: .8em;
    font-weight: bold;
}
#form-signin-remember-wrapper label {
    margin-left: .5em;
}
#form-signin-remember-wrapper span:last-child {
    margin-left: auto;
}
#signin-main-wrapper > div:last-child {
    margin: 5em 0em 4em;
}
#signin-main-wrapper > div:last-child p:first-child a {
    color: #fff;
}
#signin-main-wrapper > div:last-child p:last-child {
    margin-top: 1em;
} 
#signin-main-wrapper > div:last-child p:last-child a {
    color: #1010f1;
}

/* footer styles */
.signin-footer {
    background-color: rgba(0, 0, 0, .7);
}
/* misc styles */
.signin-text-small {
    font-size: .8em;
}

/* SIGNUP PAGE STYLES */
/* variables */
.signup-main-wrapper .signup-step-img-wrapper {
    --step-header-img-height: 3.87em;
}
/* header styles */
.toplevel-header.signup-pg {
    border-bottom: 2px solid #eceaea;
}
.toplevel-header-link-text {
    margin-left: auto;
    align-self: center;
    font-weight: bold;
    /* font-size: 2em; */
}

/* main styles */
.signup-main-container {
    padding: 0% 2%;
}
.signup-main-wrapper {
    padding: 2em;
    /* border: 2px solid #0d0; */
    /* margin: 4em auto 7em;  */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7em;
}
.signup-step-step1, .signup-step-step2,
.signup-step-step3 {
    max-width: 26em;
    text-align: center;
    margin-top: 3em;
}
.signup-step-add-password {
    max-width: 30em;
}
.signup-step-choose-plan {
    max-width: 80%;
}
.signup-step-img-wrapper {
    margin: 0em 3.5em 2em;
    height: var(--step-header-img-height);
}
.signup-step-img-wrapper img {
    max-height: var(--step-header-img-height);
}
.signup-stepno-heading {
    font-variant: small-caps;
    font-weight: normal;
    font-size: 1.1em;
}
.signup-stepno-heading .small-num {
    font-size: .8em;
    font-weight: bold;
}
.signup-step-heading {
    font-size: 2em;
}
.signup-step-step1 .signup-step-info-text,
.signup-step-step2 .signup-step-info-ul {
    margin: 1.5em 2em 0em;
}
.signup-step-info-text {
    line-height: 1.4em;
}
.signup-main-wrapper button, .signup-main-wrapper input {
    border-radius: 4px;
    height: 3.9rem;
}
.signup-main-wrapper button,
.signup-main-wrapper input[type="submit"] {
    color: #fff;
    font-size: 1.3em;
    margin-top: 1.5rem;
}
.signup-step-add-password .signup-step-info-text {
    margin: .7em 0em;
}
.signup-main-wrapper input {
    border: 1px solid #c9c7c7;
    margin-bottom: .7em;
}
.signup-step-info-ul .signup-step-info-text {
    margin-left: 1em;
}
.signup-step-step2 .signup-step-info-ul {
    text-align: left;
    margin-left: 1em;
    margin-right: 4em;
}
.signup-step-step2 .signup-step-info-ul li {
    margin-bottom: 1em;
}
.signup-step-choose-plan .signup-step-info-ul {
    margin: 1em 0em;
}
.signup-extra-plan-info {
    color: #7a7a7a;
}
.signup-extra-plan-info p:last-child {
    margin-top: 1em;
}
.signup-step-choose-plan button:last-child {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.signup-step-step3 {
    max-width: 35em;
}
#signup-secure-server-icon {
    width: 10px;
} 
.signup-step-step3 .signup-step-info-text-wrapper {
    margin-top: 1em;
}
.signup-step-step3 .signup-step-info-text:last-child {
    margin-top: .5em;
    font-weight: bold;
}
.signup-proceed-button-wrapper 
.signup-secure-server-wrapper {
    justify-content: flex-end;
    padding: .3em 0em;
    font-size: .8em;
}
#signup-secure-server-icon {
    margin: 0em 5px;
}
.signup-proceed-button-wrapper {
    margin-top: 1em;
}
.signup-step-step3 .proceed-button {
    margin-top: 0em;
    width: 100%;
    color: #000;
    font-size: 1em;
    background-color: #fff;
    border: 2px solid #c4c3c3;
    align-items: center;
    padding: 1em;
}
.signup-step-step3 .proceed-button .signup-card-option-icon {
    margin: 0em .2em;
}
.signup-step-step3 .proceed-button span {
    margin-right: .5em;
}
.signup-step-step3 .proceed-button svg:last-child {
    margin-left: auto;
    height: 20px;
    color: #c4c3c3;
}

/* table styles */  
#sub-plan-table td { 
    text-align: center;
}
#sub-plan-table tr {
    justify-content: flex-end;
}
#sub-plan-table tbody tr {
    padding: 1em 0em;
}
.tr-plans th {
    border-radius: 3px;
    height: 7.5em;
    /* height: 100%; */
}
.lead-cell-th {
    flex: 0 0 auto;
    text-align: left;
    margin-right: auto;
    /* width: 27em; */
    width: 44%;
    font-weight: normal;
    padding-left: 1em;
    padding-right: 1em;
}
.lead-cell-th ~ *{
    flex: 1 0 0px;
    /* margin: 0em .5em; */
    margin: 0% 1.5%;
    text-transform: capitalize;
    font-weight: bold;
}
#sub-plan-table thead .lead-cell-th ~ * {
    align-items: center;
    color: #fff;
    justify-content: center;
}
.tr-plans {
    padding-bottom: 1em;
}
#sub-plan-table tbody tr:last-child {
    height: auto;
}
.tr-devices td div {
    flex-direction: column;
    align-items: center;
}
.tr-devices .tr-svg-wrapper {
    display: block;
}
.tr-devices .tr-svg-icon-container {
    margin-bottom: .7em;
}
#sub-plan-table tbody tr:not(:last-child) {
    border-bottom: 2px solid #c7c3c3;
}
#sub-plan-table tbody td {
    color: #8d8c8c;
}

/* footer styles */
.signup-footer {
    background-color: #eceaea;
    color: #776f6f;
}
.signup-footer nav {
    margin: 0% 5%;
}

/* misc styles */
.signup-text-small {
    font-size: .8em;
}
.signup-sub-main-text {
    font-size: .9em;
}
.signup-checkmark-svg {
    color: var(--native-color);
}
#sub-plan-table .signup-inactive-native-bg {
    background-color: #e96565;
}
#sub-plan-table .signup-native-bg {
    background-color: var(--native-color);
}
#sub-plan-table .signup-native-fg {
    color: var(--native-color);
}