@charset "utf-8";

/* variables */
:root {
    --native-color: #da1a1a;
}

/* box-sizing */
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

/* neutral styles */
h1, h2, h3, h4, h5, p, ul, button, input, fieldset, body {
    margin: 0;
    padding: 0;
}
button, input, fieldset {
    border: none;
    border-radius: 0px;
    font-size: inherit;
}
input:focus {
    outline: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* general styles */
.flex-wrapper {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.native-bg {
    background-color: var(--native-color)
}
.native-fg {
    color: var(--native-color)
}
.off-screen {
    display: none;
}
input {
    padding: 0px .5em;
}
img {
    max-width: 100%;
}
.overlay {
    position: absolute;
}
.overlay-wrapper {
    position: relative;
}
.text-bold {
    font-weight: bold;
}

/* header styles */
#toplevel-header {
    padding: 1.2rem 3%;
}
.fleek-logo {
    width: 150px;
    letter-spacing: .1em;
    font-size: 1.7em;
}