@charset "UTF-8";

/* variables */
:root {
    --pointer-width: 10px;
}

.pointer-base::after {
    content: '\00A0';
    background-image: linear-gradient(to top right, #fff, #fff 50%, transparent 50%, transparent);
    position: absolute;
    width: var(--pointer-width);
    height: var(--pointer-width);
    transform: rotate(-45deg);
}