@charset "UTF-8";

/* background & header-logo styles */
@import url('/css/content/content.css');

/* pointer component */
@import url('/css/components/pointer.css');

/* variables */
:root {
    --category-section-offset: 8rem;
}
.fullContentInfo-wrapper {
    --outer-side-margin: 3rem;
}

/* header styles */
header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 200;
    background-image: linear-gradient(180deg, var(--background-color), transparent);
}
header.scrolled {
    background-color: var(--background-color);
}
header nav {
    flex: 1 1 auto;
    height: 100%;
}
header nav > * {
    align-items: center;
}
.header-nav-list {
    margin-left: .5rem;
}
.header-nav-link {
    font-size: .9em;
    margin-left: 1.4em;
}
.header-nav-link:hover:not(.selected){
    color: #999797;
}
.header-nav-link.selected {
    font-weight: bold;
}

.options-container {
    margin-left: auto;
}
.options-container > div {
    margin-right: 1.3em;
    height: 100%;
    display: flex;
    align-items: center;
}
.dvd-option {
    font-size: .9em;
}

.profile-photo {
    border-radius: 4px;
    height: calc(var(--header-height) - 
    (2 * var(--header-padding-top-bottom)));
}
.options-container .settings-option {
    position: relative;
    width: 50px;
}
.settings-option::after {
    --pointer-width: 7px;
    top: 40%;
    left: 100%;
    transition: transform .25s ease;
}
.settings-option:hover::after {
    transform: rotate(135deg);
}

/* HEADER POPUPS STYLES */
.notifications-wrapper, .settings-wrapper {
    position: absolute;
    /* top: 50%; */
    top: 103%;
    right: 0%;
    /* margin-top: calc((0.5 * var(--header-height))); */
    background-color: #00000080;
    opacity: 0;
    transition: opacity .1s ease;
}
.notifications-wrapper.visible,
.settings-wrapper.visible {
    opacity: 1;
}
.notifications-wrapper {
    width: 15em;
    max-width: 90vw;
    min-height: 7em;
    border-top: 2px solid #fff;
    padding: .9em .7em;
    font-size: .9em;
}
.notifications-wrapper::after {
    top: -9px;
    right: 5%;
}
.notifications-wrapper::after,
.settings-wrapper::after  {
    --pointer-width: 8px;
    transform: rotate(135deg);
}
.settings-wrapper {
    max-height: none;
    width: 14em;
    font-size: .8em;
}
.settings-wrapper::after {
    right: 15%;
    top: -7px;
}
.settings-wrapper ul {
    padding: 1.1em .7em 0em;
}
.settings-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.settings-item:hover {
    text-decoration: underline;
}
.settings-wrapper ul li:not(:last-child) {
    margin-bottom: .5em;
}
.settings-wrapper ul img {
    width: 38px;
    border-radius: 4px;
    margin-right: .5em;
}
.settings-item svg {
    margin-right: 1em;
}
.manageProfiles-wrapper,
.otherSettings-wrapper, #signout-div {
    padding: 1em;
}
.account-wrapper {
    margin-bottom: .5em;
}
.settings-wrapper hr {
    border-style: solid none none;
    border-color: #9c9999;
}
#signout-div {
    display: flex;
    justify-content: center;
    cursor: pointer;
}


/* main styles */
#topContent-section {
    overflow-y: hidden;
    height: 110vh;
    position: relative;
    z-index: 1;
}
.topContent-poster {
    width: 100%;
    max-height: max-content;
}
.topContentInfo-wrapper {
    top: 7em;
    left: 3%;
    width: 40%;
    font-size: .95em;
}
.topContentInfo-wrapper img ~ * {
    margin-top: 1em;
}
.topContentInfo-wrapper .actions-wrapper button {
    margin-right: .5em;
    padding: .5em 1.5em;
    border-radius: 3px;
    align-items: center;
    font-weight: bold;
}
.topContentInfo-wrapper
.actions-wrapper button span:last-child {
    margin-left: .5em;
}
.topContentInfo-wrapper
.actions-wrapper .play-button {
    background-color: #fff;
    color: #000;
}
.topContentInfo-wrapper
.actions-wrapper button svg {
    width: 24px;
}
.topContentInfo-wrapper
.actions-wrapper .play-button:hover {
    opacity: .8;
}
.topContentInfo-wrapper
.actions-wrapper .moreInfo-button {
    background-color: #7c7a7a;
    color: #fff;
    opacity: .8;
}
.topContentInfo-wrapper
.actions-wrapper .moreInfo-button:hover {
    opacity: .5;
}
.topContent-ageRating-wrapper {
    bottom: 30%;
    right: 0%;
    align-items: center;
}
.topContent-ageRating-wrapper span {
    font-size: .9em;
    margin-left: 1em;
    border-left: 3px solid #fff;
    background-color: rgba(0, 0, 0, .5);
    padding: .6em 1.1em;
    width: 7em;
}
#topContent-section::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: calc(var(--category-section-offset) + 3rem);
    background-image: linear-gradient(180deg, transparent, var(--background-color));
}

#contentCategories-section {
    margin: calc(var(--category-section-offset) * -1) 0em 0em 4%;
    position: relative;
    z-index: 10;
    font-size: .8em;
}
.category-wrapper {
    margin-bottom: 3.5em;
}
.categoryPosters-wrapper {
    margin-top: 1em;
    height: 130px;
    width: 100%;
    /* overflow-x: hidden; */
    overflow-y: visible;
}
.poster-wrapper {
    width: 245px;
    margin-right: .4em;
    flex: 0 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    transition: transform .1s ease-in;
}
.poster-wrapper.expand {
    overflow: visible;
    transform: scale(1.3);
    z-index: 100;
}
.poster-wrapper > div:first-of-type {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    border-radius: 4px;
    /* border: 1px solid #0f0; */
}
.poster-wrapper.expand > div:first-of-type {
    box-shadow: 1px 1px 6px #000, -1px -1px 6px #000;
}
.poster-wrapper img {
    width: 100%;
    max-height: max-content;
    border-radius: 4px;
}
.poster-wrapper.expand img.poster {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* min content info popup styles */
.minContentInfo-wrapper {
    background-color: var(--background-color);
    padding: 1em;
    font-size: .85em;
}
.minContentInfo-wrapper > :not(:last-child) {
    margin-bottom: .9em;
}
.minContentInfo-wrapper .buttons-wrapper {
    display: flex;
}
.minContentInfo-wrapper
.buttons-wrapper .minContentInfo-button {
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minContentInfo-wrapper .buttons-wrapper
.minContentInfo-button:not(:last-child) {
    margin-right: .5em;
}
.minContentInfo-wrapper .like-button svg {
    transform: scale(1.2);
}
.minContentInfo-wrapper
.buttons-wrapper .fullContent-button {
    margin-left: auto;
}
.minContentInfo-wrapper .fullContent-button svg {
    transform: rotate(90deg);
}
.minContentInfo-wrapper .buttons-wrapper svg {
    width: 10px;
}
.minContentInfo-wrapper .genres-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.minContentInfo-wrapper
.genres-wrapper > :not(:last-child) {
    margin-right: 1em;
}

/* full content info popup styles */
.fullContentInfo-container {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    justify-content: stretch;
    align-items: flex-start;
    z-index: 300;
    background-color: #000000a6;
    /* overflow-y: scroll; */
}
.fullContentInfo-container .fullContentInfo-wrapper {
    margin: 1.8em 20% 0em;
    background-color: #1a1818;
    border-radius: 8px;
    position: relative;
    /* overflow-y: scroll; */
}
.fullContentInfo-wrapper .topPoster-wrapper {
    position: relative;
    width: 100%;
}
.fullContentInfo-wrapper .topPoster-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 35%;
    background-image: linear-gradient(180deg, transparent, #1a1818);
    z-index: 1;
}
.fullContentInfo-wrapper
.topPoster-wrapper .fullContent-poster {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.fullContentInfo-wrapper
.topPoster-wrapper .logo-wrapper {
    position: absolute;
    left: var(--outer-side-margin);
    bottom: 15%;
    z-index: 10;
}
.fullContentInfo-wrapper
.topPoster-wrapper .buttons-wrapper {
    margin-top: 1.7em;
    display: flex;
    align-items: center;
}
.fullContentInfo-wrapper
.topPoster-wrapper .play-button {
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    padding: .5em 1.5em;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.fullContentInfo-wrapper
.topPoster-wrapper .play-button span{
    margin-left: .6em;
}
.fullContentInfo-wrapper
.topPoster-wrapper .play-button svg{
    width: 24px;
}
.fullContentInfo-wrapper
.topPoster-wrapper button svg {
    width: 15px;
}
.fullContentInfo-wrapper .topPoster-wrapper
button:not(.play-button) {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .8em;
    transform: scale(1.2);
}
.fullContentInfo-wrapper .topPoster-wrapper
button:not(.play-button) svg {
    fill: #fff;
}

.fullContentInfo-wrapper .contentInfo-wrapper {
    /* margin: .5em 2.5rem 0em; */
    margin: .5em var(--outer-side-margin) 0em;
    display: flex;
}
.fullContentInfo-wrapper
.contentInfo-wrapper .overview-wrapper {
    flex: 1 1 auto;
}
.fullContentInfo-wrapper .contentInfo-wrapper
.date-length-wrapper span:first-child {
    margin-right: 1em;
}
.fullContentInfo-wrapper
.contentInfo-wrapper .overview {
    margin-top: 1.3em;
}
.fullContentInfo-wrapper
.contentInfo-wrapper .genres-wrapper {
    flex: 0 0 35%;
    margin-left: 1.5em;
}
.fullContentInfo-wrapper .contentInfo-wrapper
.genres-wrapper span:first-child {
    color: #8b8a8a;
    margin-right: .5em;
}
.fullContentInfo-wrapper
.contentInfo-wrapper .overview,
.fullContentInfo-wrapper
.contentInfo-wrapper .genres-wrapper {
    font-size: .9em;
    line-height: 1.6em;
}

.fullContentInfo-wrapper .similarContent-wrapper {
    /* margin: 3.5em 2.5rem 1em; */
    margin: 3.5em var(--outer-side-margin) 1em;
}
.fullContentInfo-wrapper
.similarContent-wrapper .posters-wrapper {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.similarContent-wrapper .similarContentInfo-wrapper {
    flex: 0 0 calc((100% * (0.9 / 3)));
    height: 18em;
    background-color: #313030;
    margin-bottom: 1.5em;
    border-radius: 4px;
}

.fullContentInfo-wrapper .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    color: #fff;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullContentInfo-wrapper .close-button svg {
    width: 16px;
    transform: rotate(45deg);
}


/* footer styles */
footer {
    margin-top: 8em;
    font-size: .82em;
    color: #868282;
    padding: 1em;
}
.footer-nav-wrapper {
    margin: 0em 15%;
}
.socialIcon-wrapper svg {
    width: 27px;
    margin-right: 2em;
}
svg#facebook-icon path:first-of-type {
    fill: transparent;
}
svg#facebook-icon path:last-of-type,
svg#instagram-icon path, svg#youtube-icon path {
    fill: #fff;
}
.footer-nav-list {
    margin-top: 1em;
    flex-wrap: wrap;
}
.footer-nav-list li {
    flex: 1 1 25%;
    margin-bottom: 1.3em;
}
#service-code {
    border-style: solid;
    border-width: 1px;
    padding: .7em;
    width: max-content;
    margin-top: 1em;
}
#copyright {
    font-size: .9em;
    margin-top: 2em;
}
footer a:hover {
    text-decoration: underline;
}

/* misc styles */
#toplevel-container.loading,
#toplevel-container.freeze {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#toplevel-container #onload-cover {
    display: none;
}
#toplevel-container.loading #onload-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: var(--background-color);
    z-index: 500;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    overflow-x: hidden;
}
