@charset "utf-8";

/* variables */
:root {
    --background-color: #201f1f;
}

/* background styles */
body {
    color: #fff;
    background-color: var(--background-color);
}

/* header styles */
.toplevel-header {
    padding: .7rem 3%;
}
.fleek-logo {
    width: 150px;
    font-size: 40px;
}