@charset "utf-8";

/* variables */
:root {
    --main-text-color: #9e9a9a;
    --bakground-color: #201f1f;
    --profile-highlight-color: #dfd9d9;
}

/* background styles */
body {
    color: #fff;
    background-color: var(--bakground-color);
}

/* header styles */
.toplevel-header {
    padding: .7rem 3%;
}
.fleek-logo {
    width: 150px;
    font-size: 40px;
}