<%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/browse.css">
    <script src="/scripts/content/browse.js"></script>
</head>
<body>
    <div id="toplevel-container">
        <%- include('../../partials/header') %>
        
    </div>
<%- include('../../partials/end') %>