<%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/content/browse.css">
    <script src="/scripts/content/browse.js" type="module" data-fetchmethod="native"></script>
</head>
<body>
    <div id="toplevel-container" data-fragment-name="browse">
        <%- include('../../partials/header') %>
        </header>
        <div id="lowlevel-container">
            <div class="main-wrapper">
                <h1><%= profile.name %>'s BROWSE PAGE</h1>
            </div>
        </div>
    </div>
<%- include('../../partials/end') %>