<%- include(coreRoot + '/head') %>
</head>
<body>
    <%- include(coreRoot + '/header', {leadName: '500'}) %>
    </header>
    <h1 class="page-error">500 Error<br>Internal Server Error</h1>
<%- include(coreRoot + '/end') %>