<span class="custom-checkbox-wrapper">
    <input 
        type="checkbox" 
        name="<%= checkboxName %>" 
        value="<%= checkboxValue %>" 
        class="native-checkbox" 
        id="<%= checkboxId %>"
        <% if (checked) { %>checked<% } %>
        <% if (disabled) { %>disabled<% } %>
    >
    <span class="custom-checkmark"></span>
</span>